doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Land.io
    link(rel="icon", type="image/pnsg", href="sources/images/favicon.png")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,200', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300', rel='stylesheet')
    link(href="sources/styles/styles.css", rel="stylesheet")

  body
    // Navigation
    include includes/navigation
    // Header jumbotron
    include includes/jumbotron
    // Intro
    include includes/intro
    // Feauters
    include includes/feauters
    // Video
    include includes/video
    // Pricing
    include includes/pricing
    // Testimonials
    include includes/testimonials
    // Text-information
    include includes/text-information
    // Sign up
    include includes/sign-up
    // Footer
    include includes/footer

  script(src="sources/externals/jquery-1.12.1.min.js")
  script(src="sources/externals/bootstrap-3.3.6/dist/js/bootstrap.min.js")
  script(src="sources/scripts/output.min.js")
