section.container-fluid.page.feauters
  div.container
    div.row
      div.col-sm-4.feauter.ui
        h4.text-center 250
        h6.text-center.text-nowrap.text-muted UI Elements
        p.text-center Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam

      div.col-sm-4.feauter.ultra
        h4.text-center Ultra
        h6.text-center.text-nowrap.text-muted Modern Design
        p.text-center Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam

      div.col-sm-4.feauter.free
        h4.text-center Free
        h6.text-center.text-nowrap.text-muted Forever and ever
        p.text-center Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.
