footer.container-fluid.page-footer
  div.container
    div.row
      div.col-xs-12.col-sm-6
        div.media
          div.media-left
            object(type='image/svg+xml', data='img/logo.svg').media-object Logo
          div.media-body.media-bottom
            p.media-heading &copy; Land.io 2016.
            p.media-heading Developed by Anastasiia Kozenko.
      nav.col-xs-12.col-sm-6.footer-nav
        ul.nav.nav-pills
          li(role='presentation')
            a(href='#').footer-navigation-item
              span.text-uppercase New
              &nbsp;Slides
          li(role='presentation')
            a(href='http://tympanus.net/Freebies/Landio/ui-elements.html').footer-navigation-item UI Kit
          li(role='presentation')
            a(href='https://github.com/tatygrassini/landio-html').footer-navigation-item GitHub
          li(role='presentation')
            a(href='#').footer-navigation-item.to-top Back to top
