nav.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header.clearfix
      a(href='http://tympanus.net/Freebies/Landio/#').navbar-brand
        object(type='image/svg+xml', data='img/logo.svg').header-logo Logo
      button(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false').navbar-toggle.collapsed.pull-right
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      div.dropdown.pull-right.clearfix.user-info-container-xs
        a(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')#dLabel.avatar-icon.visible-xs
        include user-info

    div.collapse.navbar-collapse#bs-example-navbar-collapse-1.clearfix
      ul.nav.navbar-nav.pull-right.text-right
        li.info-nav
          a(href='#')
            span.text-uppercase New
            &nbsp;Slides
        li.info-nav
          a(href='#') UI Kit
        li.info-nav
          a(href='#') GitHub

        li.dropdown.search-container
          a(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')#dLabel.hidden-xs.search-icon
            span.sr-only Search
          div(aria-labelledby='dLabel').dropdown-menu.search.fade
            form(role='search').navbar-form
              div.form-group
                input(id='search1', type='text', placeholder='Type your search & hit Enter...').form-control
                label(for='search1').sr-only Type your search & hit Enter...
          form(role='search').visible-xs.navbar-form
            div.form-group
              input(id='search2', type='text', placeholder='Type your search & hit Enter...').form-control
              label(for='search2').sr-only Type your search & hit Enter...

        li.dropdown.clearfix.hidden-xs.user-info-container
          a(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')#dLabel.avatar
            img(src='img/face5.jpg', alt='Avatar')
          include user-info
