section.container-fluid.page.contract-background.pricings
  div.container
    h3.text-center Manage your subscriptions
    div.row.pricing-container
      div.panel.panel-default.col-sm-4.pricing.first-price.fade
        div.price-container
          div.panel-heading.text-uppercase.text-center Personal
          div.panel-body
            p.text-center Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras
            p.text-center.price-value
              sup $
              &nbsp;19
              span.text-uppercase /month
          ul.list-group
            li.list-group-item.text-center Sed risus feugiat
              li.list-group-item.text-center Sed risus feugiat fusce eu sit
              li.list-group-item.text-center Sed risus feugiat fusce
          div.panel-footer
            a(href='http://tympanus.net/Freebies/Landio/#', target='_blank').btn.btn-default.btn-lg.text-uppercase.center-block.active Get Started

      div.panel.panel-primary.col-sm-4.pricing
        div.price-container.active
          div.panel-heading.text-uppercase.text-center Professional
          div.panel-body
            p.text-center Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras
            p.text-center.price-value
              sup $
              &nbsp;49
              span.text-uppercase /month
          ul.list-group
            li.list-group-item.text-center Sed risus feugiat
            li.list-group-item.text-center Sed risus feugiat fusce eu sit
            li.list-group-item.text-center Sed risus feugiat fusce
            li.list-group-item.text-center Sed risus feugiat
          div.panel-footer
            a(href='http://tympanus.net/Freebies/Landio/#', target='_blank').btn.btn-primary.btn-lg.text-uppercase.center-block.active Get Started

      div.panel.panel-default.col-sm-4.pricing.last-price.fade
        div.price-container
          div.panel-heading.text-uppercase.text-center Enterprise
          div.panel-body
            p.text-center Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras
            p.text-center.price-value
              sup $
              &nbsp;99
              span.text-uppercase /month
          ul.list-group
            li.list-group-item.text-center Sed risus feugiat
            li.list-group-item.text-center Sed risus feugiat fusce eu sit
            li.list-group-item.text-center Sed risus feugiat fusce
          div.panel-footer
            a(href='http://tympanus.net/Freebies/Landio/#', target='_blank').btn.btn-default.btn-lg.text-uppercase.center-block.active Get Started
