ul(aria-labelledby='dLabel').dropdown-menu.pull-right.user-info.fade
  li
    div.media
      div.media-left
        img(src='img/face5.jpg', alt='Avatar').media-object.img-circle
      div.media-body.media-middle
        h5.media-heading Joel Fisher
        p hey@joelfisher.com
  li
    a(href='#').text-uppercase View Posts
  li
    a(href='#').text-uppercase Manage groups
  li
    a(href='#').text-uppercase Subscription & billing
  li
    a(href='#').text-uppercase.log-out Log Out
  li.clearfix
    a(href='#').btn.btn-rounded.pull-right.edit-user-info
      span.sr-only Edit
