section.video
  div.embed-responsive.embed-responsive-16by9
    video(
      src='http://vjs.zencdn.net/v/oceans.mp4',
      poster='http://tympanus.net/Freebies/Landio/img/video-poster.jpg'
    ).embed-responsive-item

    button(type='button').btn.btn-default.video-btn.play-pause-btn
      img(src='img/play.svg', alt='Play')

    div.video-controls-bar.hidden
      div.video-time.current-time.hidden-xs
      div.video-time.duration.hidden-xs
      div.volume
        button(type='button').btn.btn-default.video-btn.volume-btn
          img(src='img/volume.svg', alt='Volume')
        input(id='volume', type='range', value='1', min='0', max='1', step='0.1').value-range
        label(for='volume').sr-only Volume

      div.video-progress
        div.total
          div.current
