section.container-fluid.page.contract-background.intro
  div.container
    h3.text-center.intro-header.fade Build your beautiful UI, the way you want it, with Land.io
    p.text-center.intro-text.fade Craft memorable, emotive experiences with our range of beautiful UI elements
    img(src="sources/images/mock.png", alt="Build your beautiful UI").img-responsive.center-block.intro-image.fade
