header.jumbotron
  div.container.jumbotron-content
    h1.text-center Land.io, blissful innovation.
    p.text-center Craft your journey,&nbsp;
      span absolutely free,
      &nbsp;with&nbsp;
      a(href="http://tympanus.net/Freebies/Landio/ui-elements.html") Land.io UI kit.
    a(href="http://tympanus.net/codrops/?p=25217", target="_blank").btn.btn-default.btn-lg.active.text-uppercase.center-block.jumbotron-btn Sketch Included
    ul.list-unstyled.list-inline.text-center.social
      li
        a(href="#").social-item.twitter 1024
      li
        a(href="#").social-item.facebook 562
      li
        a(href="#").social-item.linkedin 356
