doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Land.io
    link(rel="icon", type="image/png", href="favicon.png")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,200', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300', rel='stylesheet')
    link(href="styles.min.css", rel="stylesheet")

  body
    include includes/navigation
    include includes/jumbotron
    include includes/intro
    include includes/feauters
    include includes/video
    include includes/pricing
    include includes/testimonials
    include includes/text-information
    include includes/sign-up
    include includes/footer

    script(src="library/jquery.min.js")
    script(src="library/bootstrap/bootstrap.min.js")
    script(src="script.min.js")
